* {
    box-sizing: border-box;
}

body {
    background-color: #eafbff;
    /* linear-gradient函数构建渐变背景，第一个参数倾斜角度（也可用to left、to bottom之类的） */
    background-image: linear-gradient(0deg, #5290f9 0 50%, #eafbff 50% 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

nav {
    width: 80px;
    border: 0;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
}
 nav.active {
    width: 350px;
 }

 nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
 }
 nav.active ul {
    width: 100%;
 }
 nav ul li {
    opacity: 0;
    transform: rotateY(0);
    transition: transform 0.6s linear,opacity 0.6s linear;
 }
 nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
 }
ul li a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

 .icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 0;
    padding: 0px;
    cursor: pointer;
    position: relative;
 }
 .icon .line {
    background-color: #5290f9;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
 }
 .icon .line#line2 {
    top: auto;
    bottom: 10px;
 }
nav.active .icon #line1{
    transform: rotate(-1125deg) translateY(5.5px);  
}
nav.active .icon #line2{
    transform: rotate(1125deg) translateY(-5.5px);
}